<section class="card">
  <a href="/photo/{{id}}">
    <header>{{title}}</header>

    <div class="card-body">
      <img src="/images/{{filename}}" alt="{{description}}">
      <p>By: FUGG {{photo.artist}}</p>
      <button type="button" class="btn btn-warning">DELETE</button>
    </div>
  </a>
</section>
