{{#if loggedIn}}
<section class="photo">
  <p>PRINTS AVAILABLE TO DOWNLOAD</p>
  <a href="/images/{{photo.filename}}" download="{{photo.filename}}">
  <img src="/images/{{photo.filename}}" alt="{{photo.description}}"
  <div class="photo-details">
  </a>
  </div>
  
</section>
{{else}}
<a href="/login">You must login first to view these photos</a>
{{/if}}
